@media (max-width:1800px)
{
	.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 487px;
}
.plan-blog a {
    margin-top: 69px;
}
.plan-blog span {
    left: -18px;
}
.wifi-price img {
    max-width: 142px;
}
}
@media (max-width:1700px)
{
	.container {
    max-width: 1400px;
}body.fixed .payment-bills.pay{    max-width: 320px;}
.over-lay-bnr h1 {
    font-size: 60px;
    line-height: 65px;
}.refer-step-inner ul li:nth-child(4) {    width: 84%;}section.ref-bnr.block-element .ref-overlay {    padding: 25px 0 25px;}section.ref-bnr.block-element .ref-overlay p {    font-size: 40px;}section.refer-step.block-element a.bl-btn {    left: 60px;}
.basic-price label {
    top: 51%;
}
.plan-blog a {
    font-size: 17px;
}
.paln-new-page .plan-blog img {
    margin: 12px 0 0;
}
.wifi-img {
    min-height: 180px;
}
.wifi-price img {
    max-width: 133px;
}
.wifi-price label {
    font-size: 30px;
}
.plan-customer.wi-fi-new-plans .col-sm-4 {
    min-height: 430px;
}
.wifi-inner-blog {
    padding: 30px 0 10px;
}
.over-lay-bnr {
    right: 120px;
}
.sec-pro-sect.home-demo {
    padding-top: 0;
}
.work-fr-you-in p {
    font-size: 17px;
}
.cult-mor-in .owl-nav.disabled button.owl-prev {
    left: -45px;
}
.cult-mor-in .owl-nav.disabled button.owl-next {
    right: -53px;
}
.ref-overlay {
    right: 320px;
}.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 424px;
}
.plan-blog a {
    margin-top: 60px;
}
.basic-block h4 {
    padding-left: 7px;
    font-size: 23px;
}
.plan-customer .plan-blog span {
    max-width: 110px;
    font-size: 20px;
    margin: 20px 0 10px;
    left: -28px;
}
section.paln-new-page h2 {
    padding: 6px 0;
    font-size: 32px;
}
.plan-customer {
	
    padding: 30px 50px 30px 20px;
}
.wifi-inner-blog h4 {
    font-size: 28px;
}
.wifi-inner-blog a.bl-btn {    padding: 0 9px;    font-size: 15px;}
}
@media (max-width:1500px)
{
.plan-customer-ser .col-sm-4 {    padding: 0;}
.basic-block h4 {
    font-size: 22px;
    padding-left: 6px;
}

.refer-step-inner ul li:nth-child(4) {
    width: 79%;
}
.refer-step-inner ul li:nth-child(2) {    width: 70%;}
section.refer-step.block-element a.bl-btn {
    left: 120px;
    padding: 1px 10px;
    font-size: 16px;
    top: -90px;
}
section.refer-step.block-element .col-sm-5 {    -webkit-box-flex: 0;    -ms-flex: 0 0 31.666667%;    flex: 0 0 31.666667%;    max-width: 31.666667%;}
section.ref-bnr.block-element .ref-overlay p {
    font-size: 26px;
}
.refer-step-inner ul li {
    padding: 6px 10px;
    font-size: 17px;
    border-right: 3px solid #056885;
    border-bottom: 3px solid #056885;
}
section.ref-bnr.block-element .ref-overlay {
    padding: 15px 0 15px;
}
section.refer-step.block-element .col-sm-7 {    -webkit-box-flex: 0;    -ms-flex: 0 0 68.333333%;    flex: 0 0 68.333333%;    max-width: 68.333333%;}

section.refer-step.block-element img {
    left: -100px;
    max-width: 260px;
    top: 6px;
}
section.refer-step.block-element {
    background-size: 100% 123%;
    background-position: bottom;
}
.refer-step-inner ul li span {
    font-size: 15px;
    top: 0px;
	margin-right: 41px;
}
.refer-step-inner ul li::before {
    top: 4px;
    height: 36px;
    width: 90px;
    left: -5px;
}
section.refer-step.block-element {
    padding: 70px 0 30px;
}
.paln-new-page .plan-blog img {
    max-width: 75px;
}
.basic-price label {
    top: 50%;
    font-size: 20px;
	    left: -1px;
}
.basic-block .basic-price span {
    top: 4px;
}
.plan-blog a {
    margin-top: 23px;
}
.plan-customer .plan-blog span {
    margin: 20px 0 15px;
}
.wifi-inner-blog {
    padding: 6px 0 0px;
}
.wifi-inner-blog h4 {
    font-size: 23px;
}
.wifi-inner-blog span {
    font-size: 21px;
}
.wifi-price img {
    max-width: 102px;
}
.wifi-inner-blog a.bl-btn {
    position: relative;
    left: 9px;
}
.plan-customer {
    padding: 30px 30px 30px 20px;
}
.wifi-price label span {
    font-size: 13px;
}
section.paln-new-page h2 {
    padding: 9px 0;
    font-size: 30px;
}
.wifi-price label span {    line-height: 12px;}
.wifi-price label {
    font-size: 23px;
}
.plan-customer.wi-fi-new-plans .col-sm-4 {
    min-height: 318px;
}
.wifi-img {
    min-height: 115px;
}
.container {
    max-width: 1050px;
    padding: 0 10px;
}
.payment-bills {    min-height: 519px;}
body.fixed .payment-bills.pay{    max-width: 235px;}
section.video.block-element iframe {
    width: 80%;
}
.deal-prize h3 {
    font-size: 38px;
}
.work-fr-you-in h4 {
    max-width: 85px;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: -4px;
}
section.partner-sec.block-element h2 {
    font-size: 45px;
}
.form-group label {
    width: 165px;
}
section.partner-sec.block-element p {
    font-size: 17px;
}
.ref-overlay {	
    right: 170px;
}
section.plan-procing-section.block-element h3 {
    font-size: 36px;
}
.plan-blog span, .plan-blog.plan-one span {    font-size: 20px;    margin: 20px 0 15px;    max-width: 110px;}.plan-customer .plan-blog span {    width: 100%;    max-width: 110px;    font-size: 20px;}.plan-blog a {    padding: 2px 12px;    font-size: 17px;}
.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 378px;
}
.plan-customer .plan-blog span {
    left: -13px;
}
.over-lay-bnr h1 {
    font-size: 45px;
    line-height: 53px;
}
.over-lay-bnr p {
    font-size: 21px;
}
.over-lay-bnr {
    right: 50px;
}
section.wifi-plans.block-element h3 {
    font-size: 30px;
}
.wifi-inner-sport h5 {
    font-size: 37px;
}
h2 {
    font-size: 40px;
    line-height: 46px;
}
section.work-fr-you.block-element .col-sm-3 {
    padding-right: 15px;
}
.work-fr-you-in {
    padding: 20px 12px 14px;
}
.work-fr-you-in p {
    font-size: 14px;
    line-height: 17px;
}
.iner-pr {
    min-height: 108px;
}
.work-fr-you-in img {
    max-width: 90px;
}
section.work-fr-you.block-element .col-sm-9::before {
    width: 75%;
    left: -17px;
}
.inner-pro {
    min-height: 537px;
}
.client-pro span {
    padding: 0 70px 26px;
    margin-top: -53px;
    min-height: 71px;
}
.culture-inner .container {
    padding: 0 30px;
}
.owl-carousel.owl-loaded.owl-drag::before {
    bottom: 43px;
    height: 58%;
}
}
@media (max-width:1300px)
{
	.over-lay-bnr h1 {
    font-size: 41px;
    line-height: 44px;
}
section.refer-step.block-element img {
    left: -100px;
    max-width: 250px;
    top: 0;
}
section.refer-step.block-element .col-sm-5 {    -webkit-box-flex: 0;    -ms-flex: 0 0 28.666667%;    flex: 0 0 28.666667%;    max-width: 28.666667%;}section.refer-step.block-element .col-sm-7 {    -webkit-box-flex: 0;    -ms-flex: 0 0 71.333333%;    flex: 0 0 71.333333%;    max-width: 71.333333%;}
section.refer-step.block-element .refer-step-inner {
    top: -35px;
}
section.refer-step.block-element a.bl-btn {
    left: 90px;
    top: -85px;
    padding: 2px 11px;
}

.wifi-img {
    min-height: 141px;
}
.wifi-inner-blog a.bl-btn {
    position: relative;
    left: 12px;
}
.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 377px;
}
.plan-customer .plan-blog span {
    left: -18px;
}
.plan-blog a {
    margin-top: 30px;
}
.select-frm .form-group.scheck-box {
    width: 34%;
}
section.partner-sec.block-element img {
    max-width: 400px;
}
section.partner-sec.block-element h2 {
    font-size: 40px;
}
.plan-procing-inner .container, section.wifi-plans.block-element .container {
    padding: 0 70px;
}
.wifi-inner-blog h4 {
    font-size: 22px;
    position: relative;
    top: 7px;
    left: -11px;
}
.plan-customer.wi-fi-new-plans .col-sm-4 {
    min-height: 338px;
    padding: 20px 20px 20px;
}
.wifi-price label {
    top: 56%;
    font-size: 22px;
}
.wifi-price label span {
    line-height: 10px;
    font-size: 15px;
}
.wifi-price img {
    max-width: 98px;
    position: relative;
    top: 7px;
}
.wifi-inner-blog span {
    font-size: 21px;
}
.over-lay-bnr p {
    font-size: 20px;
}
.over-lay-bnr {
    right: 40px;
}
.get-ticket a img {
    max-width: 154px;
    max-height: 36px;
}
section.about-section.block-element {
    padding: 26px 0 36px;
}
.container {
    padding: 0 25px;
}
.iner-pr {
    min-height: 123px;
}
.work-fr-you-in::before {
    left: -9px;
}
.work-fr-you-in h4 {
    max-width: 85px;
    margin-bottom: 15px;
    font-size: 17px;
}
	.deal-prize h3 {
    font-size: 37px;
}
section.deals-acces.block-element {
    padding: 30px 0 70px;
}
section.culture-section.block-element h2 {
    font-size: 28px;
    margin-top: 40px;
    padding: 5px 0;
}
.client-pro span {
    padding: 0 49px 20px;
    min-height: 78px;
    margin-top: -40px;
}
.owl-carousel.owl-loaded.owl-drag::before {
    bottom: 44px;
    height: 59%;
}
.sec-pro-sect.home-demo {
    padding-top: 10px;
}
footer.footer-main.block-element ul.fitr-fst-menu li a {
    font-size: 20px;
}
footer.footer-main.block-element ul.fitr-fst-menu li {
    margin-right: 40px;
}
ul.fitr-sec-menu li {
    margin-right: 33px;
}
}
@media (max-width:1199px)
{section.refer-step.block-element .col-sm-5, section.refer-step.block-element .col-sm-7 {    -ms-flex: 0 0 100%;    flex: 0 0 100%;    max-width: 100%;}
	.over-lay-bnr h1 {
    font-size: 34px;
    line-height: 37px;
}.payment-bills {    padding: 40px 10px;}.total-payment::before {    left: -30px;    width: 187px;}.basic-block .basic-price span {    top: 12px;}
.basic-price label {    left: 13px;    font-size: 23px;}.basic-block h4 {    font-size: 26px;}
.wifi-price label {
    font-size: 26px;
}section.refer-step.block-element img {
    left: 0;
    max-width: 300px;
    top: 0;
    margin: 20px auto -40px;
    display: table;
    float: none;
}
.refer-step-inner ul li:nth-child(2), .refer-step-inner ul li:nth-child(4) {    width: 100%;}section.ref-bnr.block-element .ref-overlay p {    font-size: 30px;}section.refer-step.block-element a.bl-btn {    position: static;    margin: 0 auto;    display: table;    float: none;}section.refer-step.block-element {
    padding: 20px 0;
    background: #dae5ee;
}
.plan-customer .col-sm-5 {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}
section.refer-step.block-element img {
    transform: scale(1.2);
}
section.refer-step.block-element .col-sm-5 {
    order: 2;
}
.plan-customer .col-sm-7 {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}
.plan-customer {
    padding: 30px 20px 30px 20px;
}
.total-payment.upload-document li {
    font-size: 16px;
    line-height: 20px;
}
.total-payment.upload-document li::before {
    top: 3px;
}
.recen-post ul li, .blog-clouds ul li {
    font-size: 17px;
}
.blog-clouds span, .recen-post span {
    border-bottom: 4px solid;
    font-size: 23px;
}
.blog-content-inner p {
    font-size: 17px;
}
.blog-content-inner span {
    font-size: 21px;
}
section.blog-page-main.block-element .col-sm-8 {
    padding-right: 20px;
}
section.blog-page-main.block-element {
    background: #f2f3f5;
    padding: 40px 0 20px;
}
.recen-post {
    margin-bottom: 30px;
}
.form-group label {
    width: 171px;
}
.ref-overlay p {
    margin-bottom: 110px;
}
.refer-step-inner ul li {
    padding-left: 108px;
}
.refer-step-inner ul li span {
    position: absolute;
    top: 5px;
    left: 17px;
}
.ref-overlay {
    right: 100px;
}
section.refer-step.block-element {
    padding: 50px 0;
}
.ref-overlay p {
    font-size: 20px;
}
section.plan-procing-section.block-element h3 {
    font-size: 33px;
    padding: 30px 0 70px;
}
.plan-procing-inner .container, section.wifi-plans.block-element .container {
    padding: 0 90px;
}
.plan-blog span, .plan-blog.plan-one span {
    font-size: 20px;
    margin: 14px 0 4px;
}
.plan-customer .plan-blog span {
    margin: 20px 0 4px;
}
.plan-blog a {
    margin-top: 20px;
}
.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 440px;
}
.plan-procing-inner .plan-blog img {    max-width: 100px;}
.plan-in .col-sm-4 {
    padding: 25px 15px;
}
.plan-in .col-sm-4:nth-child(2) {
	
    padding: 25px 15px;
}
section.wifi-plans.block-element h3 {
    font-size: 28px;
}
.wifi-inner-blog h4 {
    font-size: 26px;
}
.wifi-img {
    min-height: 150px;
}
.wifi-price img {
    max-width: 147px;
}
.wifi-inner-blog img {
    transform: scale(.8);
}
.over-lay-bnr p {
    font-size: 19px;
    max-width: 400px;
    line-height: 20px;
}
.work-fr-you-in p {
    font-size: 14px;
    line-height: 18px;
}
.work-fr-you-in img {
    max-width: 86px;
}
.work-fr-you-in::before {
    left: -10px;
    background-image: url(../images/strip.png);
    width: 99%;
    height: 70px;
}
.work-fr-you-in h4 {
    max-width: 80px;
    margin-bottom: 14px;
    font-size: 16px;
    margin-top: -3px;
}
section.work-fr-you.block-element {
    padding: 40px 0 120px;
}
section.video.block-element {
    padding: 45px 0;
}
section.video.block-element iframe {
    height: 410px;
}
.inner-pro {
    min-height: 520px;
}
.deal-prize h3 {
    font-size: 30px;
}
section.culture-section.block-element h2 {
    font-size: 25px;
}
section.culture-section.block-element h4 {
    padding: 17px 0 17px;
    font-size: 19px;
}
.client-pro span {
    padding: 0 19px 20px;
    font-size: 18px;
    line-height: 26px;
}
ul.fitr-sec-menu {
    padding: 0 20px 0;
}
footer.footer-main.block-element ul.fitr-fst-menu {
    padding: 0 20px 20px;
}
.culture-inner .container {
    padding: 0 47px 0 40px;
}
}
@media (max-width:991px)
{
	.container {
    padding: 0 15px;
}
.partner-form.partner-main-form {
    margin-top: 40px;
}
.partner-form.partner-main-form::before {
    left: -12px;
    top: -25px;
    width: 220px;
    font-size: 17px;
    height: 57px;
    padding-bottom: 12px;
}.basic-price label {    top: 40px;    left: 4px;    font-size: 19px;}
.wifi-price label {
    font-size: 33px;
}
.loaction {
    padding: 10px 10px 20px;
}	
.loaction-inner h6 {
    font-size: 25px;
    margin-bottom: 12px;
}
.loaction-inner p {
    font-size: 16px;
}
.select-frm .form-group.scheck-box {
    width: 47%;
}
.total-payment.upload-document::before {
    width: 200px;
}
.total-payment.upload-document li {
    padding-right: 34px;
}
.total-payment.upload-document li span {
    font-size: 11px;
}
section.login-pahe-main.block-element h5 {
    font-size: 19px;
}
.clander:first-child {
    margin-bottom: 10px;
}
.total-payment::before, .pay-ment::before {    left: -27px;    width: 160px;    height: 56px;    font-size: 17px;}.payment-bills table tr th, .payment-bills table tr td {    font-size: 14px;}
.clander {
    width: 100%;
    padding: 0 !important;
}
.login-rgt .partner-form {
    padding-top: 50px;
}
.login-rgt p {
    padding: 0 20px;
}
section.login-pahe-main.block-element {
    padding: 50px 0;
}
.login-lft img {
    max-width: 230px;
}
.login-rgt .partner-form {
    margin-bottom: 30px;
}
.blog-clouds span, .recen-post span {
    font-size: 21px;
    padding-right: 0px;
}
.recen-post {	
    padding: 13px;
}
section.partner-sec.block-element h2 {
    font-size: 35px;
    margin: 10px 0;
}
.recen-post ul li, .blog-clouds ul li {
    font-size: 14px;
    margin-bottom: 14px;
}
section.partner-sec.block-element img {
    max-width: 330px;
}
.partner-form {
    margin-top: 10px;
	padding: 30px 20px 20px;	
}
.form-group.textarea {
    align-items: flex-end;
    justify-content: flex-end;
}
.form-group textarea {
    width: 76.5%;
    float: right;
}
.partner-form .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.ref-overlay p {
    font-size: 19px;
    margin-bottom: 50px;
}
.ref-overlay {
    right: 30px;
    max-width: 350px;
}
section.refer-step.block-element .col-sm-4, section.refer-step.block-element .col-sm-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section.refer-step.block-element {
    padding: 30px 0;
}
section.refer-step.block-element h2 {
    text-align: center;
    margin-bottom: 20px;
}
section.refer-step.block-element h2 br {
    display: none;
}
.plan-procing-inner h5::before, .plan-procing-inner h5::after, .wifi-inner-sport h5::before, .wifi-inner-sport h5::after	
{
	display:none;
}
.plan-procing-inner .container, section.wifi-plans.block-element .container {
    padding: 0px 30px;
}
.plan-procing-inner .plan-blog img {    max-width: 90px;    margin-top: 0;}.basic-block h4 {    font-size: 23px;    padding-top: 1px;    padding-left: 5px;}
.plan-blog span, .plan-blog.plan-one span {
    font-size: 19px;
    margin: 11px 0 8px;
    padding-left: 10px;
}
a.bl-btn {
    margin-right: 0;
    margin-left: 0;
}
.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    min-height: 408px;
}
.plan-procing-inner h5 {
    font-size: 30px;
}
section.plan-procing-section.block-element h3 {
    font-size: 29px;
    padding: 24px 0 64px;
}
.wifi-inner-sport h5 {
    font-size: 30px;
}
.wifi-inner-blog img {
    transform: scale(.7);
}
.get-ticket a {
	
    margin-left: 10px;
}
.side-toggle {
    display: none;
}
button.navbar-toggler {
    background: #fff;
    padding: 3px 5px;
}
.main-nav-bar-top .navbar-light .navbar-brand {
    font-size: 24px;
}
.main-nav-bar-top ul.navbar-nav.mr-auto li {
    margin-left: 0;
}
.over-lay-bnr h1 {
    font-size: 29px;
    line-height: 31px;
}
.over-lay-bnr p {
    max-width: 270px;
}
.over-lay-bnr {
    right: 20px;
}
a.bl-btn {
    padding: 3px 17px;
    font-size: 18px;
    margin-right: 8px;
}
h2 {
    font-size: 34px;
    line-height: 40px;
}
section.work-fr-you.block-element .col-sm-3, section.work-fr-you.block-element .col-sm-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section.work-fr-you.block-element h2 {
    margin-bottom: 20px;
    text-align: center;
}
section.work-fr-you.block-element h2 br {
    display: none;
}
section.work-fr-you.block-element .col-sm-9 .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 13px;
}
section.work-fr-you.block-element .col-sm-9::before, .work-fr-you-in::after {
    display:none;
}
.work-fr-you-in::before {
    width: 59%;
}
.iner-pr {
    min-height: 97px;
}
.work-fr-you-in h4 {
    margin-bottom: 19px;
}
section.work-fr-you.block-element {
    padding: 24px 0 40px;
}
section.video.block-element {
    padding: 34px 0;
}	
section.video.block-element iframe {
    height: 290px;
}
.inner-pro {
    min-height: 460px;
}
.deal-prize h6 {
    font-size: 20px;
}
.deal-prize h3 {
    font-size: 27px;
}
footer.footer-main.block-element ul.fitr-fst-menu li a {
    font-size: 18px;
}
ul.fitr-sec-menu li {
    margin-right: 17px;
}
ul.fitr-sec-menu li a {
    font-size: 18px;
}
}
@media (max-width:767px)
{
	.top-bar .col-sm-7, .top-bar .col-sm-5, section.about-section.block-element .col-sm-4, section.about-section.block-element .col-sm-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}section.ref-bnr.block-element .ref-overlay p {    font-size: 26px;    line-height: 32px;}section.ref-bnr.block-element .ref-overlay {    padding: 18px 0 18px;}body.fixed .payment-bills .pay{   position: relative;    top: 0px;    width: 100%;    max-width: 100%;}.payment-bills {    padding: 40px 10px 80px;}.wifi-price label span {    font-size: 14px;}
.loaction .col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.loaction .loaction-inner {
    border-left: 0;
    min-height: auto;
}

section.review-page.block-element .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section.faq-page.block-element h2 {
	
    margin-bottom: 20px;
}
section.faq-page.block-element {
    padding: 30px 0;
}
.select-frm .form-group.scheck-box:nth-child(2) {
    padding-left: 30px;
}
section.review-page.block-element h2 {
    margin-bottom: 30px;
}
section.review-page.block-element {
    padding: 30px 0;
}
.form-group.scheck-box {
    padding-left: 0;
    text-align: left;
    flex-direction: initial;
}
.select-frm .form-group.scheck-box {
    width: 100%;
    flex-direction: inherit;
}
.select-frm .form-group.scheck-box:nth-child(2) {
    padding-left: 0;
}
.form-group.scheck-box label {
    padding-left: 34px;
}
section.login-pahe-main.book-now.procees-page.block-element .col-sm-4, section.login-pahe-main.book-now.procees-page.block-element .col-sm-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.payment-page .partner-form h6 {
    font-size: 16px;
}
.login-rgt input[type="submit"] {
    font-size: 15px;
}
.total-payment.upload-document {
    min-height: 280px;
}
section.login-pahe-main.book-now.block-element .col-sm-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.payment-bills {
    min-height: auto;
}
section.login-pahe-main.book-now.block-element .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 30px;
}
.form-group .clander label {
    padding: 0;
}
section.login-pahe-main.block-element .col-sm-5, section.login-pahe-main.block-element .col-sm-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section.login-pahe-main.block-element {
    padding: 20px 0 13px;
}
.login-rgt p {
    padding: 0;
}
.login-rgt {
    padding-left: 18px;
}
section.blog-page-main.block-element .col-sm-8 {
    padding-right: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.login-rgt .partner-form::before {
    top: -23px;
    left: -19px;
    width: 320px;
    height: 61px;
    font-size: 16px;
}
.login-rgt p {
    font-size: 15px;
}
.login-lft img {
    max-width: 140px;
}

section.login-pahe-main.block-element h5 {
    font-size: 19px;
    text-align: center;
}
section.blog-page-main.block-element .col-sm-4
{
	  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.recen-post {
    margin-bottom: 0;
}
.blog-clouds span, .recen-post span {
    margin-left: 0;
}
.form-group textarea {
    width: 100%;
}
section.partner-sec.block-element h2 {
    font-size: 30px;
    margin: 10px 0;
    line-height: 32px;
}
section.partner-sec.block-element img {
    max-width: 290px;
}
section.partner-sec.block-element p {
    font-size: 16px;
    padding: 0;
}
.form-group {
    flex-direction: column;
}
.form-group label {
    width: 100%;
    text-align: left;
    padding-left: 21px;
    margin-bottom: 5px;
}
section.partner-sec.block-element h2 {
    font-size: 25px;
    line-height: 30px;
}
section.partner-sec.block-element {
    padding: 20px 0 30px;
}
.ref-overlay {
    max-width: 307px;
}
.refer-step-inner ul li {
    padding-left: 116px;
}
.plan-procing-inner .container, section.wifi-plans.block-element .container {
    padding: 0px 15px;
}
.plan-in .col-sm-4, .wifi-inner-sport .col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.wifi-img {
    min-height: auto;
}
.wifi-inner-blog {
    padding: 20px 0 30px;
}
.plan-in .col-sm-4:nth-child(2) {
    float: left;
    -ms-flex: 0 0 94.8%;
    flex: 0 0 94.8%;
    margin: 0 auto;
    max-width: 94.8%;
}
.plan-in .col-sm-4:nth-child(2) {
    padding: 25px 15px;
}
.main-nav-bar-top ul.navbar-nav.mr-auto li a {
    font-size: 17px;
    padding: 4px 0;
}
.contact-top {
    padding-top: 0;
    justify-content: center;
}
.get-ticket {
    width: 100%;
    text-align: center;
    padding-top: 11px;
}
.banner.block-element .owl-item img {
    height: 250px;
    object-fit: cover;
}
.bnr-btn {
    flex-direction: column;
    align-items: flex-start;
}
.banner.block-element .item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.bnr-btn a {
    float: left;
    margin: 0 0 7px;
    max-width: 250px;
    min-width: 187px;
    text-align: center;
}
section.about-section.block-element {
    padding: 6px 0 16px;
}
.iner-pr {
    min-height: 97px;
}
section.video.block-element iframe {
    height: 230px;
}
section.video.block-element {
    padding: 21px 0 16px;
}
section.video.block-element iframe {
    border: 3px solid #3759a0;
    padding: 4px;
}
section.work-fr-you.block-element {
    padding: 24px 0 16px;
}
.deal-prize h3 {
    font-size: 19px;
}
.deal-prize h6 {
    font-size: 17px;
}
.deal-prize h6 label {
    font-size: 15px;
}
.inner-pro {
    min-height: 390px;
}
.inner-pro a.bl-btn {
    padding: 3px 12px;
    font-size: 15px;
}
section.deals-acces.block-element {
    padding: 10px 0 32px;
}
section.culture-section.block-element h2 {
    font-size: 20px;
    margin-top: 10px;
    padding: 0;
    border-width: 3px;
}
section.culture-section.block-element h4 {
    padding: 14px 0 13px;
    font-size: 16px;
}
.cult-mor-in {
    padding-top: 10px;
    padding-bottom: 0px;
}
.client-pro span {
    padding: 0 19px 0px;
    font-size: 18px;
    min-height: 40px;
    margin-top: -60px;
}
.culture-inner .owl-dots {
    display: none;
}
.culture-inner .container {
    padding: 0 47px 20px 40px;
}
footer.footer-main.block-element ul.fitr-fst-menu {
    padding: 0 10px 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer.footer-main.block-element ul.fitr-fst-menu li {
    margin-right: 20px;
}

ul.fitr-sec-menu li a {
    font-size: 16px;
}

footer.footer-main.block-element {
    background: #3b5999;
    padding: 16px 0px 2px;
}
ul.fitr-sec-menu {
    padding: 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media (max-width:567px)
{
	.contact-top img {
    max-width: 37px;
    max-height: 28px;	
}section.refer-step.block-element img {	    max-width: 240px;}
section.video.block-element iframe {
    width: 100%;
}section.ref-bnr.block-element .ref-overlay p {    font-size: 23px;    line-height: 24px;    padding: 0 10px;}
.ticket-page form button img {
    max-width: 135px;
}
section.login-pahe-main.block-element h5 {
    font-size: 15px;
    margin-top: 0;
}
section.login-pahe-main.block-element h2 {
    line-height: 29px;
}
.blog-content-inner span {
    font-size: 19px;
    line-height: 20px;
}
.blog-content-inner p {
    font-size: 15px;
    margin-bottom: 6px;
}
.recen-post ul li, .blog-clouds ul li {
    margin-bottom: 12px;
}
section.blog-page-main.block-element {
    padding: 30px 0 0px;
}
section.plan-procing-section.block-element h3 {
    font-size: 23px;
    padding: 15px 0 56px;
}
.blog-clouds span, .recen-post span {
    font-size: 19px;
} 
.login-rgt .partner-form::before {
    width: 300px;
    padding-left: 19px;
}
.plan-procing-inner h5 {
    font-size: 26px;
}
.plan-in .col-sm-4:nth-child(2) {
    -ms-flex: 0 0 91.8%;
    flex: 0 0 91.8%;
    max-width: 91.8%;
}
.plan-procing-inner {
    padding-bottom: 30px;
}
section.wifi-plans.block-element {
    margin-top: 28px;
}
.ref-overlay p {
    font-size: 17px;
    margin-bottom: 13px;
}
.ref-overlay {
    max-width: 198px;
    right: 15px;
}
section.wifi-plans.block-element h3 {
    font-size: 23px;
    padding: 9px 0;
}
.wifi-inner-sport h5 {
    font-size: 25px;
}
.wifi-inner-blog h4 {
    font-size: 29px;
}
.wifi-inner-blog span {
    font-size: 20px;
}
.wifi-inner-blog img {
    transform: scale(1);
}
section.wifi-plans.block-element {
    padding-bottom: 30px;
}
.contact-top p {
    padding-left: 3px;
    font-size: 13px;
}
.right-contact {
    padding-left: 10px;
}
.get-ticket a img {
    max-width: 138px;
    max-height: 30px;
}
.bg-light {
    padding: 5px 0;
}
.main-nav-bar-top .navbar-light .navbar-brand {
    font-size: 20px;
}
.over-lay-bnr h1 {
    font-size: 23px;
    line-height: 25px;
}
.over-lay-bnr p {
    font-size: 17px;
}
.bnr-btn a {
    min-width: 157px;
    font-size: 15px;
    margin-right: 6px;
}
.over-lay-bnr {
    right: inherit;
    left: 15px;
}
.banner.block-element .owl-item img {
    height: 200px;
    object-fit: cover;
    object-position: left;
}
h2 {
    font-size: 27px;
}
section.about-section.block-element .row p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 0;
}
section.about-section.block-element {
    padding: 0px 0 16px;
}
.bnr-btn {
    flex-direction: inherit;
}
section.work-fr-you.block-element .col-sm-9 .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.iner-pr {
    min-height: auto;
}
section.video.block-element iframe {
    height: 190px;
}
.deal-prize {
    margin-bottom: 6px;
}
.inner-pro {
    min-height: auto;
    padding-bottom: 30px;
}
.deal-prize h3 {
    font-size: 21px;
    width: 100%;
    text-align: center;
}
.inner-pro a.bl-btn {
    padding: 4px 23px;
    font-size: 17px;
    float: none;
    margin: 6px auto 0;
}
section.deals-acces.block-element {
    padding: 10px 0 2px;
}
section.culture-section.block-element h2 {
    font-size: 18px;
}
section.culture-section.block-element h4 {
    padding: 12px 0 11px;
    font-size: 14px;
}
.cult-mor-in .owl-nav.disabled button.owl-prev {
    left: -30px;
    width: 30px;
    border-radius: 100px;
    height: 30px;
    font-size: 29px;
}
.cult-mor-in .owl-nav.disabled button.owl-next {
    right: -37px;
    width: 30px;
    border-radius: 100px;
    height: 30px;
    font-size: 29px;
}
.culture-inner .container {
    padding: 0 24px 20px 16px;
}
.owl-carousel.owl-loaded.owl-drag::before {
    bottom: 22px;
    height: 52%;
}
.client-pro span {
    font-size: 16px;
    min-height: 35px;
    margin-top: -60px;
    line-height: 20px;
}
}