.title{text-align:center;font-size:100px;color:#3d4548;padding:50px;margin:0}
.buttons{z-index:1;position:absolute;bottom:100px;left:50%;transform:translateX(-50%)}
.button{cursor:pointer;width:280px;line-height:50px;font-size:16px;font-weight:700;color:#fff;background-color:#3b5999 ;border-style:none}
.button.preloader-open{margin-right:50px}
.preloader-js-container{position:fixed;top:0;left:0;width: 100% !important;height:100%;background-color: rgba(0, 0, 0, 0.5);}.preloader-js-container .shadow{width:100%;height:100%;}.preloader-js{display:inline-block;position:fixed;top:50%;left:50%;width:64px;height:64px;transform:translate(-50%,-50%);}
.preloader-js div{box-sizing:border-box;display:block;position:absolute;width:51px;height:51px;margin:10px;border:10px solid #000;border-radius:50%;animation:preloader-js 1.2s cubic-bezier(.5,0,.5,1) infinite;border-color:#3b5999  transparent transparent transparent}
.preloader-js div:nth-child(1){animation-delay:-.45s}
.preloader-js div:nth-child(2){animation-delay:-.3s}
.preloader-js div:nth-child(3){animation-delay:-.15s}@keyframes preloader-js{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.processing{
	display: inline-block;
    position: fixed;
    top: 30%;
    left: 44%;
    font-size: large;
    color: cornflowerblue;
}
.alert_msg{
	display: inline-block;
    position: fixed;
    top: 35%;
    left: 40%;
    text-align-last: center;
}
.alert_msg span{
    color: blue;
    font-size: larger;
}
.alert_msg p{
    font-size: 17px !important;
    color :#000;
}