body
{
    margin:0 auto;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}
/*--global-style--*/
h2 {
    font-size: 45px;
    color: #3b5999;
    font-weight: 600;
    font-family: '';
    font-family: 'Exotc350 Bd BT';
    line-height: 53px;
}
section.work-fr-you.block-element span {
    color: #e46c0a;
}
p {
    font-size: 16px;
    color: #4c4c4c;
}
.container {
    max-width: 1500px;
}
.block-element {
    width: 100%;
    float: left;
}
.top-bar {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.contact-top {
    display: flex;
    align-items: center;
    padding-top: 4px;
}
.left-contact, .right-contact {
    display: flex;
    align-items: center;
}
.contact-top p {
    margin: 0;
    color: #000;
    padding-left: 10px;
    font-weight: 600;
    font-style: italic;
}
.contact-top p span {
    padding: 0 2px;
}
.contact-top img {
    max-width: 49px;
    max-height: 33px;
    object-fit: contain;
}
.right-contact {
    padding-left: 18px;
}
.get-ticket a {
    margin-left: 20px;
}
.get-ticket a img {
    max-width: 147px;
    max-height: 35px;
}
.get-ticket {
    float: right;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: inherit;
    display: none;
    background-color: #d3dfeb;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9;
    padding-top: 60px;
    right: 0;
}

.sidenav a {
    padding: 7px 8px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #000;
    margin-left: 50px;
}
.bg-light {
    background-color: #3b5999 !important;
}
.main-nav-bar-top {
    width: 100%;
    float: left;
    
    background-color: #3b5999 ;

}
.main-nav-bar-top ul.navbar-nav.mr-auto {
    margin-left: auto;
    margin-right: inherit !important;
    padding-right: 14px;
}
.main-nav-bar-top .navbar-light .navbar-brand {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 27px;
}
.main-nav-bar-top ul.navbar-nav.mr-auto li {
    margin-left: 10px;
}
.side-toggle span {
    color: #fff;
}
.main-nav-bar-top ul.navbar-nav.mr-auto li a {
    color: #fff !important;
    font-size: 20px;
}
.banner.block-element {
    position: relative;
}
.over-lay-bnr {
    position: absolute;
    top: 50%;
    float: right;
    max-width: 600px;
    margin-left: auto;
    right: 230px;
    transform: translateY(-50%);
}
.over-lay-bnr p {
    color: #3b5999;
    font-weight: 600;
    font-family: '';
    font-size: 22px;
}
.over-lay-bnr h1 {
    font-size: 65px;
    color: #3b5999;
    font-weight: 600;
    font-family: '';
    line-height: 73px;
}
.bnr-btn {
    display: flex;
    align-items: center;
}
a.bl-btn {
    /* background: #4167b2; */
    background: -moz-radial-gradient(center, ellipse cover, #4167b2 -1%, #aabfde 54%, #101d7b 100%);
    /* background: -webkit-radial-gradient(center, ellipse cover, #4167b2 -1%,#aabfde 54%,#101d7b 100%); */
    /* background: radial-gradient(ellipse at center, #4167b2 -1%,#aabfde 54%,#101d7b 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4167b2', endColorstr='#101d7b',GradientType=1 );
    padding: 3px 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+99 */
background: #7db9e8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #1e5799 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #7db9e8 0%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-decoration: none;
    color: #fff;
    font-family: '';
    font-weight: 500;
    font-size: 19px;
    border: 3px solid #3b5999;
    border-radius: 100px;
    margin-right: 19px;
}
section.work-fr-you.block-element {
    padding: 50px 0 120px;
    background: #dfe6fc;
}
section.work-fr-you.block-element h2 {
    text-align: left;
    margin-bottom: 0;
}
.work-fr-you-in {
    background: #f7f7f7;
    border-radius: 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 5px solid #3759a0;
    padding: 10px 20px 10px;
    border-bottom: 5px solid #3759a0;
    position: relative;
    transition: 0.5s;
    transform: scale(1);
}
.work-fr-you-in img {
    max-width: 110px;
    margin: 0 auto;
    display: table;
    transition: 0.5s;
}
.work-fr-you-in:hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.work-fr-you-in h4 {
    max-width: 118px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 4px;
    padding-left: 0;
    margin-bottom: 10px;
    z-index: 9;
    left: 10px;
    position: relative;
    font-size: 19px;
}
.iner-pr {
    width: 100%;
    float: left;
    min-height: 110px;
}
section.work-fr-you.block-element .col-sm-9 {
    position: relative;
}
.banner.block-element img {
    width: 100%;
}
section.work-fr-you.block-element .col-sm-3 {
    padding-right: 30px;
}
section.work-fr-you.block-element .col-sm-3:last-child {
    padding-left: 15px;
    padding-right: 15px;
}
.work-fr-you-in p {
    color: #3759a0;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 3px;
}
.work-fr-you-in::before {
    position: absolute;
    top: 8px;
    left: -13px;
    background-image: url(../images/strip.png);
    width: 92%;
    height: 70px;
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.work-fr-you-in::after {
    position: absolute;
    bottom: -80px;
    left: 0;
    background-image: url(../images/crc.png);
    width: 50px;
    height: 80px;
    margin: 0 auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 0;
}
section.work-fr-you.block-element .col-sm-3:last-child .work-fr-you-in::after {
    background-image: url(../images/crc-lst.png);
}
section.work-fr-you.block-element .row {
    position: relative;
    align-items: center;
}
section.work-fr-you.block-element .col-sm-9::before {
    /* content: ""; */
    width: 76%;
    height: 2px;
    background: #3759a0;
    content: "";
    position: absolute;
    bottom: -64px;
    left: -43px;
    right: 0;
    top: inherit;
    margin: 0 auto;
}
section.video.block-element iframe {
    width: 60%;
    height: 500px;
    border: 5px solid #3759a0;
    padding: 7px;
    border-radius: 5px;
    margin: 0 auto;
    display: table;
}
section.video.block-element {
    padding: 50px 0;
}
section.deals-acces.block-element {
    background: #d9e1f8;
    padding: 50px 0;
}
.inner-pro img {
    width: 100%;
    transition: 1s;
}   
.inner-pro img:hover {
    transition: 1s;
    transform: translateY(-20px);
}
.inner-pro .deal-prize img {
    max-width: 210px;
    margin: 0 auto;
    display: table;
}
.inner-pro.two img {
    max-width: 340px;
    margin: 0 auto;
}
.deal-prize {
    width: 100%;
    float: left;
    margin-bottom: 110px;
}
.inner-pro a {
    margin: 47px auto 0;
    display: table;
}
.deal-prize h3 {
    color: #3b5999;
    font-size: 38px;
    font-weight: 600;
    font-family: "";
    text-align: right;
    font-family: 'Exotc350 Bd BT';
}
.inner-pro {
    width: 100%;
    float: left;
    min-height: 590px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
}
section.culture-section.block-element h2 {
    background: #3b5999;
    color: #fff;
    font-size: 32px;
    text-align: center;
    font-family: 'Exotc350 Bd BT';
    border-bottom: 5px solid #8b9dc3;
    border-top: 6px solid #8b9dc3;
    margin-top: 50px;
    margin-bottom: 0;
    position: relative;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
}
.culture-inner {
    width: 100%;
    float: left;
    padding: 0 20px;
}

.deal-prize h3 span {
    color: #e46c0a;
}
a.bl-btn:hover {
    background: #e46c0a;
    background: -moz-radial-gradient(center, ellipse cover, #e46c0a 0%, #ea893a 50%, #f1ceb1 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #e46c0a 0%,#ea893a 50%,#f1ceb1 100%);
    background: radial-gradient(ellipse at center, #e46c0a 0%,#ea893a 50%,#f1ceb1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e46c0a', endColorstr='#f1ceb1',GradientType=1 );
    border-color: #e46c0a;
    transition: 0.5s;
}   
.work-fr-you-in:hover img {
    transform: rotate(360deg);
    transition: 0.5s;
}
.cult-mor-in {
    padding-top: 35px;
    /* background: #f2f3f5; */
    text-align: center;
    padding-bottom: 30px;
}
body.fixed .main-nav-bar-top {
    position: fixed;
    top: 0;
    transition: 0.5s;
    top: 0;
    z-index: 9;
    width: 100%;
    left: 0;
    right: 0;
}
.wifi-price {
    position: relative;
}
.wifi-price label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    text-align: center;
    width: 100%;
    font-size: 34px;
    font-weight: 600;
    transform: translateY(-50%);
    top: 50%;
    color: #2a4d9e;
    z-index: 9;
}
.basic-price label {
    position: absolute;
    top: 57%;
    left: 18px;
    z-index: 9;
    font-size: 24px;
    color: #1242a4;
    font-weight: 600;
    transform: translateY(-50%);
    width: 80px;
    text-align: center;
}
.basic-price {
    position: relative;
}
.main-nav-bar-top {
    transition: 0.5s;
}
.cult-mor-in h4 {
    color: #3b5999;
    margin-bottom: 53px;
    font-weight: 600;
}

.client-pro {
    box-shadow: 0 0 10px 1px #bbb;
    width: 100%;
    background: #f7f7f7;
    transition: 1s;
    float: left;
}
.client-pro:hover img {
    transition: 1s;
    transform: translateY(-10px);
}
.owl-carousel.owl-loaded.owl-drag::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 44px;
    width: 30px;
    height: 64%;
    box-shadow: 0 0 10px 1px #bbb;
    /* box-shadow: 0 0 10px 1px #ddd; */
}
.client-pro span {
    text-align: left;
    width: 100%;
    float: left;
    margin-top: -50px;
    padding-bottom: 40px;
    padding-left: 25px;
}
.main-nav-bar-top .container {
    max-width: 100%;
}
section.culture-section.block-element .owl-carousel .owl-stage-outer {
    padding: 90px 0 20px 10px;
    position: relative;
}
.owl-carousel .owl-item .client-pro img {
    width: 89%;
    margin: 0 auto 0;
    position: relative;
    top: -80px;
    border-radius: 5px;
    width: 92%;
    transition: 1s;
    max-height: 207px;
    object-fit: cover;
    object-position: top;
}
.client-pro span br {
    display: none;
}
.client-pro span {
    text-align: left;
    width: 100%;
    font-size: 21px;
    float: left;
    font-weight: 600;
    text-align: center;
    color: #3b5999;
    padding: 0 120px 14px;
    min-height: 89px;
}
.cult-mor-in .owl-nav.disabled {
    display: block !important;
    position: absolute;
    top: 50%;
    width: 100%;
}
.cult-mor-in .owl-nav.disabled button.owl-prev {
    position: absolute;
    left: -60px;
    background: #344fa0;
    background: -moz-radial-gradient(center, ellipse cover, #344fa0 0%, #819ccb 76%, #819ccb 76%, #101d7b 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    background: radial-gradient(ellipse at center, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344fa0', endColorstr='#101d7b',GradientType=1 );
    color: #fff;
    width: 40px;
    border-radius: 100px;
    height: 40px;
    font-size: 34px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px !important;
    outline:none;
}

.cult-mor-in .owl-nav.disabled button.owl-next {
    position: absolute;
    right: -70px;
    background: #344fa0;
    background: -moz-radial-gradient(center, ellipse cover, #344fa0 0%, #819ccb 76%, #819ccb 76%, #101d7b 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    background: radial-gradient(ellipse at center, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344fa0', endColorstr='#101d7b',GradientType=1 );
    color: #fff;
    width: 40px;
    border-radius: 100px;
    height: 40px;
    font-size: 34px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px !important;
    outline:none;
}
.sec-pro-sect.home-demo {
    padding-top: 0;
}
footer.footer-main.block-element {
    background: #3b5999;
    padding: 22px 0px 20px;
}
footer.footer-main.block-element ul.fitr-fst-menu {
    padding: 0 150px 20px;
    width: 100%;
    float: left;
    text-align: left;
    border-bottom: 2px dashed #fff;
}
ul.fitr-sec-menu {
    width: 100%;
    float: left;
    text-align: left;
    padding: 0 150px 0;
}
ul.fitr-sec-menu li a {
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}
ul.fitr-sec-menu li {
    list-style: none;
    display: inline;
    margin-right: 50px;
}
footer.footer-main.block-element ul.fitr-fst-menu li {
    display: inline;
    margin-right: 50px;
    list-style: none;
}
footer.footer-main.block-element ul.fitr-fst-menu li a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}
section.about-section.block-element {
    padding: 10px 0 3px;
}
.top-bar .container {
    max-width: 100%;
}
section.about-section.block-element .row {
    align-items: center;
}
section.about-section.block-element .row p {
    color: #3b5999;
    font-size: 20px;
    font-weight: 600;
}
.deal-prize h6 {
    font-family: 'Exotc350 Bd BT';
    color: #3b5999;
    font-size: 23px;
    text-align: center;
    max-width: 340px;
}
.deal-prize h6 span {
    color: #e46c0a;
}
.deal-prize h6 label {
    margin-bottom: 0;
    font-size: 19px;
}
section.culture-section.block-element h4 {
    text-align: center;
    color: #3b5999;
    background: #dfe6fc;
    width: 100%;
    padding: 20px 0 20px;
    float: left;
    font-family: 'Exotc350 Bd BT';
}

section.plan-procing-section.block-element h3 {
    background: #3b5999;
    color: #fff;
    font-family: "";
    text-align: center;
    margin-top: 20px;
    font-size: 51px;
    padding: 40px 0 70px;
    margin-bottom: 0;
    font-weight: 600;
}
.plan-procing-inner h5 {
    width: 100%;
    float: left;
    color: #3a589e;
    text-align: center;
    padding: 0px 0 7px;
    font-family: 'Exotc350 Bd BT';
    border-top: 6px solid #3a589e;
    border-bottom: 6px solid #3a589e;
    font-size: 40px;
    margin: 0;
    background: #f7f7f7;
    position: relative;
    line-height: 37px;
}
.wifi-inner-sport h5 {
    background: #3b5999;
    color: #fff;
    border-top: 6px solid #e0e3ea;
    border-bottom: 6px solid #e0e3ea;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    padding: 0px 0 6px;
    font-family: 'Exotc350 Bd BT';
    font-size: 40px;
    margin: 0;
    line-height: 37px;
}
.plan-procing-inner h5::before {
    position: absolute;
    left: -86px;
    top: -8px;
    width: 110px;
    height: 80px;
    content: "";
    background-repeat: no-repeat;
    background-image: url(../images/hx-left.png);
}
.plan-procing-inner h5::after {
    position: absolute;
    right: -110px;
    top: -7px;
    width: 110px;
    height: 80px;
    content: "";
    background-repeat: no-repeat;
    background-image: url(../images/hx-rigt.jpg);
}
.plan-procing-inner img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.plan-procing-inner .plan-blog img {
    margin: 0;
    width: auto;
    margin: 28px 0 0;
    margin-left: 0px;
    max-width: 111px;
    position: relative;
    left: 0;
}
.plan-blog.plan-one, .plan-blog.plan-two, .plan-blog.plan-three {
    background-image: url(../images/phn-bk-1.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 40px 20px 40px;
    min-height: 518px;
    width: auto;
    margin: 0 auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.plan-blog.plan-two
{
    background-image: url(../images/phn-bk-2.png);
}
.plan-blog.plan-three 
{
    background-image: url(../images/phn-bk-3.png);
}
.plan-blog.plan-one span {
    color: #0f718e;
    width: auto;
    font-size: 23px;
    float: none;
    font-weight: 600;
    padding-left: 0px;
    margin: 20px 0 20px;
}
.plan-blog a {
    display: table;
    margin-left: 23px;
    margin-top: 99px;
    float: left;
}

.plan-procing-inner {
    width: 100%;
    float: left;
    background: #dfe3ee;
    padding-bottom: 40px;
}
.plan-procing-inner img {
    margin-top: -41px;
}.plan-blog span {
    color: #957f36;
    position: relative;
    left: -25px;
    font-size: 23px;
    float: none;
    font-weight: 600;
    padding-left: 0px;
    margin: 20px 0 20px;
}
.plan-blog.plan-three span {    color: #2e6e5d;}.plan-blog.plan-one .basic-price label {    color: #116f8b;}.plan-blog.plan-two .basic-price label {    color: #957d35;}.plan-blog.plan-three .basic-price label {    color: #2a6859;}
.plan-in {
    width: 100%;
    float: left;
    background: #f7f7f7;
    box-shadow: 0 0 10px 1px #808080;
}
.plan-blog.plan-two {
    background-color: #dfe3ee;
}
.plan-in .col-sm-4:nth-child(2) {
    background-color: #dfe3ee;
    padding: 55px 15px;
}
.plan-in .col-sm-4 {
    padding: 55px 15px;
}
.wifi-inner-sport img {
    width: 100%;
    float: left;
}
.wifi-inner-sport {
    box-shadow: 0 0 10px 1px #969696;
    width: 100%;
    float: left;
}
section.wifi-plans.block-element h3 {
    color: #fff;
    background: #3b5999;
    font-family: "";
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 6px solid #8b9dc3;
    border-top: 6px solid #8b9dc3;
    font-size: 32px;
    margin: 0;
}
section.wifi-plans.block-element {
    background: #dfe3ee;
    margin-top: 50px;
    padding-bottom: 60px;
}
.wifi-inner-sport h5::before {
    position: absolute;
    left: -86px;
    top: -11px;
    width: 110px;
    height: 80px;
    content: "";
    background-repeat: no-repeat;
    background-image: url(../images/wi-left.jpg);
}
.wifi-inner-blog {
    width: 100%;
    float: left;
    padding: 18px 0 10px;
    position: relative;
}
.wifi-inner-blog:hover img {
    transform: translateY(-10px);
    transition: 1s;
}
.wifi-inner-sport h5::after {
    position: absolute;
    right: -110px;
    top: -11px;
    width: 110px;
    height: 80px;
    content: "";
    background-repeat: no-repeat;
    background-image: url(../images/wi-rigt.jpg);
}
.wifi-inner-blog img {
    width: auto;
    margin: 0 auto;
    display: table;
    transition: 1s;
    float: none;
}
.wifi-inner-blog h4 {
    text-align: center;
    font-family: "";
    font-weight: 600;
    font-size: 32px;
    color: #19819c;
}
.wifi-inner-blog.two span {    color: #957a33;}.wifi-inner-blog.three span {    color: #2b6b5b;}
.wifi-inner-blog.two h4 {    color: #957a33;}.wifi-inner-blog.three h4 {    color: #2b6b5b;}.wifi-inner-blog.one .wifi-img label {    color: #19819c;}
.wifi-inner-blog span {    width: 100%;    float: left;    text-align: center;    font-weight: 600;    color: #19819c;    font-family: "";    font-size: 25px;}
.wifi-inner-blog a.bl-btn {
    margin: 53px auto 0;
    display: table;
    padding: 0 8px;
    font-size: 17px;
}
.wifi-inner-sport .col-sm-4 {
    background: #fff;
}
.wifi-inner-sport .col-sm-4:nth-child(2) {
    background: #dfe3ee;
}

.wifi-blog {
    width: 100%;
    float: left;
    background: #dfe3ee;
    padding: 0 30px 15px;
}
.wifi-img {
    min-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.ref-bnr.block-element img {
    width: 100%;
}
section.ref-bnr.block-element {
    position: relative;
}
.ref-overlay {
    position: absolute;
    top: 50%;
    max-width: 560px;
    right: 400px;
    transform: translateY(-50%);
}
.ref-overlay p {
    color: #3b5999;
    font-family: "";
    font-size: 22px;
    margin-bottom: 170px;
    font-weight: 600;
}
section.refer-step.block-element {
    padding: 70px 0;
}
section.refer-step.block-element .row {
    align-items: center;
}   
section.refer-step.block-element h2 {
    font-family: "";
}
.refer-step-inner ul {
    padding: 0;
    margin: 0;
}
.refer-step-inner ul li {
    list-style: none;
    padding: 10px 10px;
    border-top: 0;
    border-left: 0;
    border-right: 5px solid #056885;
    border-bottom: 5px solid #056885;
    border-radius: 5px;
    margin-bottom: 13px;
    font-family: 'Exotc350 Bd BT';
    color: #056885;
    font-size: 20px;
    position: relative;
    background: #fff;
}
.refer-step-inner ul li:nth-child(2) {    width: 73%;}
.refer-step-inner ul li:nth-child(4) {    width: 80%;}section.refer-step.block-element .refer-step-inner {    position: relative;    top: -42px;}
section.refer-step.block-element a.bl-btn {
    float: right;
    position: relative;
    top: -101px;
    background: rgb(4,104,131);
    background: -moz-radial-gradient(center, ellipse cover, rgba(4,104,131,1) 0%, rgba(15,143,176,1) 50%, rgba(15,143,176,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(4,104,131,1) 0%,rgba(15,143,176,1) 50%,rgba(15,143,176,1) 100%);
    background: radial-gradient(ellipse at center, rgba(4,104,131,1) 0%,rgba(15,143,176,1) 50%,rgba(15,143,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#046883', endColorstr='#0f8fb0',GradientType=1 );
    left: 123px;
    border-color: rgb(4,104,131);
}
section.ref-bnr.block-element .ref-overlay {    position: static;    width: 100%;    text-align: center;}
section.ref-bnr.block-element .ref-overlay {
    position: static;
    width: 100%;
    text-align: center;
    max-width: 100%;
    padding: 20px 0 20px;
    transform: translate(0);
}section.ref-bnr.block-element .ref-overlay p {    margin: 0;    font-family: 'Exotc350 Bd BT';    font-size: 45px;}
.refer-step-inner ul li span {
    color: #fff;
    z-index: 9;
    position: relative;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    left: 6px;
    top: 0px;
    margin-right: 50px;
}
.refer-step-inner ul li::before {
    position: absolute;
    content: "";
    background-image: url(https://demo.codexade.com/images/ew-strip.png);
    top: 8px;
    left: -8px;
    width: 110px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section.partner-sec.block-element {
    padding: 20px 0 50px;
}
section.partner-sec.block-element img {
    max-width: 500px;
    margin: 0 auto;
    display: table;
}
section.partner-sec.block-element h2 {
    text-align: center;
    font-family: "";
    font-size: 57px;
    margin: 20px 0 21px;
}
section.partner-sec.block-element p {
    font-size: 19px;
    color: #3b5999;
    font-weight: 600;
    padding: 0 60px;
}
.partner-form {
    width: 100%;
    float: left;
    box-shadow: 0 0 10px 1px #989898;
    padding: 50px 20px 40px;
    border-radius: 10px;
    margin-top: 60px;
}
.form-group {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.form-group label {
    width: 148px;
    text-align: right;
    float: left;
    margin-right: 15px;
    color: #3b5999;
    margin-bottom: 0;
    font-weight: 600;
}
.form-group input {
    height: 38px;
    border-radius: 4px;
    padding: 0 20px;
    border: 1px solid #3b5999;
    width: 100%;
    color: #3b5999;
    font-weight: 600;
}
.form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3b5999;
  opacity:1;
}
.form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #3b5999;
  opacity:1;
}
.form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #3b5999;
  opacity:1;
}
.form-group textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3b5999;
  opacity:1;
}
.form-group textarea::-moz-placeholder { /* Firefox 19+ */
  color: #3b5999;
  opacity:1;
}
.form-group textarea:-ms-input-placeholder { /* IE 10+ */
  color: #3b5999;
  opacity:1;
}
.form-group textarea {
    width: 100%;
    height: 91%;
    border: 1px solid #3b5999;
    border-radius: 4px;
    padding: 10px 20px 0;
    font-weight: 600;
    color: #3b5999;
}   
.form-group input:-moz-placeholder { /* Firefox 18- */
  color: #3b5999;
  opacity:1;
}
.inner-fom {
    width: 100%;
    float: left;
    height: 100%;
}
.form-group.textarea {
    width: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}
.form-group span {
    width: 100%;
    border-left: 2px dashed #3b5999;
    padding-left: 12px;
    border-right: 2px dashed #3b5999;
    padding-right: 12px;
}
.wifi-inner-blog::before {
    position: absolute;
    right: -17px;
    top: 0;
    background-image: url(../images/corner-1.png);
    width: 100px;
    height: 120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: "";
}
.wifi-inner-blog::after {
    position: absolute;
    left: -17px;
    bottom: 0;
    background-image: url(../images/re-corner-1.png);
    width: 100px;
    height: 120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: "";
}
.wifi-inner-blog.two::before
{
    background-image: url(../images/corner-2.png);
}
.wifi-inner-blog.two::after
{
    background-image: url(../images/re-corner-2.png);
}
.wifi-inner-blog.three::before
{
    background-image: url(../images/corner-3.png);
}
.wifi-inner-blog.three::after
{
    background-image: url(../images/re-corner-3.png);
}
section.blog-page-main.block-element {
    padding: 60px 0;
}
.blog-content-inner {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.blog-content-inner span {
    width: 100%;
    float: left;
    color: #e46c0b;
    font-family: "";
    font-size: 23px;
    font-weight: 600;
    margin: 16px 0;
}
.blog-content-inner p {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.blog-content-inner img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.recen-post {
    border: 1px solid #eee;
    padding: 15px 15px;
    margin-left: 0;
    margin-right: 0;
    background: #fdfcfc;
    border-radius: 0 15px;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}   
.recen-post span {
    color: #3b5999;
    font-weight: 600;
    font-family: 'Exotc350 Bd BT';
    border-bottom: 5px solid;
    font-size: 26px;
    width: auto;
    /* float: left; */
    padding: 0 73px 6px 0;
    margin-bottom: 11px;
    float: left;
}
.recen-post ul {
    padding: 0;
    width: 100%;
    margin: 0;
    float: left;
}
.recen-post ul li {
    list-style: none;
    color: #3b5999;
    font-family: "";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 19px;
    line-height: 20px;
}
.recen-post ul li:last-child {
    margin-bottom: 0px;
}
ul.pagination {
    justify-content: center;
}
body .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
}
ul.pagination .page-link {
    color: #3b5999;
}
.blog-clouds {
    width: 100%;
    float: left;
    padding: 20px 0;
    border: 1px solid #eee;
    padding: 15px 15px;
    margin-left: 0;
    margin-right: 0;
    background: #fdfcfc;
    border-radius: 0 15px;
}
.blog-clouds span {
     color: #3b5999;
    font-weight: 600;
    font-family: 'Exotc350 Bd BT';
    border-bottom: 5px solid;
    font-size: 26px;
    width: auto;
    /* float: left; */
    padding: 0 50px 6px 0;
    margin-bottom: 11px;
    float: left;
}

.blog-clouds a {
    font-size: 15px !important;
    color: #7e7e7e;
    border: 1px solid #7e7e7e;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    text-transform: capitalize;
    text-decoration: none;
    }
section.blog-page-main.block-element .col-sm-8 {
    padding-right: 12px;
}
.blog-clouds ul {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.blog-clouds ul li {
    list-style: none;
    list-style: none;
    color: #3b5999;
    font-family: "";
    background: #d1dcee;
    margin-bottom: 15px;
    padding: 7px 15px 8px;
    font-weight: 600;
    font-size: 18px;
}
section.login-pahe-main.block-element {
    padding: 80px 0;
    background: #fff;
}
section.login-pahe-main.block-element .row {
    align-items: center;
}
section.login-pahe-main.block-element h2 {
    font-family: "";
    text-align: center;
}
.login-lft {
    text-align: center;
}
.login-lft img {
    margin-bottom: 23px;
}
section.login-pahe-main.block-element h5 {
    width: 100%;
    float: left;
    color: #e46c0b;
    font-family: "";
    font-size: 23px;
    font-weight: 600;
    margin: 16px 0;
}
.login-rgt .partner-form {
    margin-top: 30px;
    position: relative;
    margin-bottom: 60px;
}
.login-rgt input[type="submit"] {
    /* background: #4167b2; */
    background: -moz-radial-gradient(center, ellipse cover, #4167b2 -1%, #aabfde 54%, #101d7b 100%);
    /* background: -webkit-radial-gradient(center, ellipse cover, #4167b2 -1%,#aabfde 54%,#101d7b 100%); */
    /* background: radial-gradient(ellipse at center, #4167b2 -1%,#aabfde 54%,#101d7b 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4167b2', endColorstr='#101d7b',GradientType=1 );
    padding: 3px 20px;
    background: #344fa0;
    background: -moz-radial-gradient(center, ellipse cover, #344fa0 0%, #819ccb 76%, #819ccb 76%, #101d7b 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    background: radial-gradient(ellipse at center, #344fa0 0%,#819ccb 76%,#819ccb 76%,#101d7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344fa0', endColorstr='#101d7b',GradientType=1 );
    text-decoration: none;
    color: #fff;
    font-family: '';
    font-weight: 500;
    font-size: 19px;
    border: 3px solid #3b5999;
    border-radius: 100px;
    margin-right: 19px;
    float: right;
    margin-top: 20px;
}
.login-rgt p {
    color: #3b5999;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 0 40px;
}
.partner-form::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: "";
    background-image: url(../images/strip.png);
}
.login-rgt .partner-form::before {
    position: absolute;
    top: -29px;
    left: -23px;
    width: 390px;
    height: 65px;
    content: "Continue Your Booking Process Here";
    background-image: url(../images/strip.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 28px;
}
.form-group label span {
    color: #dc0b0b;
    width: 100%;
    float: left;
    border: 0;
    font-size: 12px;
    text-align: -webkit-right;
    padding: 0;
    line-height: 14px;
}
.ticket-page h5 {
    text-align: center;
}
section.login-pahe-main.ticket-page.block-element .partner-form {
    margin-bottom: 0;
}
section.login-pahe-main.ticket-page.block-element .form-group textarea {
    height: 152px;
}
.ticket-page .login-rgt .partner-form::before {
    left: -14px;
    width: 230px;
    content: "Customer Support";
}
.ticket-page form button {
    border: 0;
    float: right;
    width: 100%;
    background: transparent;
    text-align: right;
    padding-right:10px;
}
.ticket-page form button img {
    max-width: 159px;
}
.book-now .partner-form {
    border: 7px solid #dfe3ee;
    background: #fff;
}
.clander {
    display: flex;
    align-items: center;
    width: 50%;
    float: left;
}
.clander label {
    text-align: left;
    width: 58px !important;
    min-width: 80px;
}
.form-group.street .clander {
    padding-left: 0;
}
.clander select {
    height: 38px;
    border-radius: 4px;
    padding: 0 20px;
    border: 1px solid #3b5999;
    width: 100%;
    color: #3b5999;
    font-weight: 600;
}
.form-group.full-row .clander {
    padding: 0;
    width: 100%;
}
.clander:last-child {
    padding-left: 10px;
}
.form-group.accesory .clander {
    padding-left: 0;
}
.clander:first-child {
    padding-right: 10px;
}
.book-now .partner-form input[type="submit"] {
    width: auto;
}
.book-now .partner-form::before {
    content: "Book Your Device";
    width: 220px;
    left: -20px;
}
section.login-pahe-main.block-element.book-now .row {
    align-items: flex-start;
}
.payment-bills {
    width: 100%;
    float: left;
    min-height: 639px;
    border: 7px solid #dfe3ee;
    background: #fff;
    box-shadow: 0 0 10px 1px #989898;
    border-radius: 7px;
    margin-top: 30px;
    padding: 40px 20px;
    position: relative;
}
.total-payment::before {
    position: absolute;
    top: -60px;
    left: -39px;
    width: 200px;
    height: 65px;
    content: "Total Payment";
    background-image: url(../images/strip.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 28px;
}
.total-payment {
    min-height: 160px;
    position: relative;
}

.payment-page .partner-form {
    background: #fff;
    border: 5px solid #3b5999;
}
.payment-page .partner-form h6 {
    color: #3b5999;
    font-size: 20px;
    font-weight: 600;
}
.payment-page .partner-form::before {
    content:"";
}
.procees-page .partner-form::before {
    content: "Personal Information";
    width: 250px;
}
.total-payment.upload-document::before {
    content: "Upload Document";
}
.total-payment.upload-document {
    padding-top: 76px;
}
.total-payment.upload-document li {
    position: relative;
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f16900;
    font-weight: 600;
    list-style: none;
    padding: 0;
    padding-right: 50px;
    margin-bottom:15px;
    padding-left:10px;
}
.total-payment.upload-document li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -29px;
    width: 21px;
    height: 19px;
    background-image: url(../images/strip.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 28px;
}
.book-now .payment-bills::before {
    background-image: url(../images/re-corner-3.png);
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.book-now .payment-bills::after {
    background-image: url(../images/corner-3.png);
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.total-payment.upload-document li span {
    width: 100%;
    float: left;
    font-size: 13px;
    text-align: right;
}
.total-payment.upload-document li img {
    position: absolute;
    right: -9px;
    max-width: 42px;
    top: 4px;
}
.total-payment.upload-document ul {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.select-frm {
    width: 100%;
    float: left;
    position: relative;
    padding-top: 100px;
}
.select-frm::before {
    position: absolute;
    top: 16px;
    left: -41px;
    width: 250px;
    height: 72px;
    content: "Pick-up Address";
    background-image: url(../images/strip.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 28px;
}
.custom-checkbox label.custom-control-label {
    width: auto;
    color: #e36d0b;
    font-size: 19px;
}
.custom-control-label::before {
    top: .1rem;
    border: 3px solid;
    background-color: #fce1cc;
    box-shadow: none !important;
        width: 25px;
    height: 25px;
}
.form-group.custom-control.custom-checkbox {
    margin-left: 160px;
    padding-left: 36px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    border: 3px solid #fce1cc;
    border-radius: 4px;
    background-color: #e56d0b;
    background-size: 10px;
            width: 25px;
    height: 25px;
}
/* The container */
.chk {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px !important;
    width: 25px !important;
    background-color: #fec899;
    border: 3px solid #e36d0d !important;
    border-radius: 7px;
}
.form-group.scheck-box label {
    width: auto;
    margin: 0;
    color: #e36d0d;
}
/* On mouse-over, add a grey background color */
.chk:hover input ~ .checkmark {
    background-color: #fce1cc;
}
.form-group.scheck-box {
    padding-left: 160px;
}
.select-frm .form-group.scheck-box {
    width: 30%;
    float: left;
    margin-bottom: 23px;
}
/* When the checkbox is checked, add a blue background */
.chk input:checked ~ .checkmark {
    background-color: #e36d0d;
    width: 25px;
    height: 25px;
    border-color: #fec899 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chk input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chk .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
section.faq-page.block-element {
    padding: 100px 0;
}
section.faq-page.block-element h2 {
    text-align: center;
    margin-bottom: 70px;
}
.faq-inner span {
    font-size: 22px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
    font-weight: 600;
}
.faq-inner .card-header {
    background: #3b5999;
    color: #fff;
    border-radius: 35px 10px 0px 0px;
    margin-bottom: 0;
}
.faq-inner .card-header a {
    color: #fff;
    font-size: 19px;
}
.faq-inner .card {
    border-color: transparent;
}
.faq-inner .card .card-body {
    border: 1px solid #dddd;
}
.faq-inner .card {
    border-color: transparent;
    margin-bottom: 8px;
}
.review-main {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0 0 10px 1px #ddd;
    padding: 30px;
    margin-bottom: 25px;
}
.review-main .user-in {
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.review-main .user-in img {
    max-width: 100px;
    border-radius: 100px;
    background: #ddd;
    min-height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.review-main p {
    color: #808080;
    margin: 0;
}
.rating span {
    color: #f9c818;
}
section.review-page.block-element {
    padding: 60px 0;
}

section.review-page.block-element h2 {
    text-align: center;
    margin-bottom: 60px;
}
.review-main h6 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.banner.block-element .owl-dots {
    display: none;
}
.loaction {
    width: 100%;
    float: left;
    padding: 20px 70px 30px;
    border-bottom: 20px solid #fff;
    margin-bottom: 37px;
}
.loaction .loaction-inner {
    text-align: center;
    border-left: 1px solid #ffffff36;
    min-height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partner-form.partner-main-form::before {
    background-size: 100%;
    background-repeat: no-repeat;
    left: -12px;
    top: -30px;
    width: 250px;
    content: "Drop Proposal here";
    color: #fff;
    font-size: 19px;
    display: flex;
    font-weight: 600;
    height: 65px;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.partner-form.partner-main-form {
    position: relative;
}
.loaction .col-sm-4:first-child .loaction-inner {
    border: 0;
}
.loaction-inner h6 {
    color: #fff;
    font-size: 30px;
    font-family: 'Exotc350 Bd BT';
    margin-bottom: 17px;
}
.loaction-inner p {
    color: #fff;
    font-size: 19px;
}
.partner-form.partner-main-form {
    position: relative;
}
.basic-block {
    display: flex;
    align-items: center;
}
.basic-block .basic-price span {
    color: red;
    font-size: 13px !important;
    position: absolute;
    left: 0 !important;
    right: 0;
    text-align: center;
    top: 9px;
}
.basic-block h4 {    font-family: "";    color: #0f718e;    font-size: 32px;    font-weight: 600;    padding-left: 12px;    font-family: 'Exotc350 Bd BT';    padding-top: 32px;}
.plan-blog.plan-two .basic-block h4 {    color: #957f36;}.plan-blog.plan-three .basic-block h4 {    color: #2e6e5d;}
.wifi-price label span {
        color: red !important;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    line-height: 7px;
}
.wifi-inner-blog:hover .wifi-price label {
    transition: 0.5s;
    top: 48%;
}
.wifi-inner-blog .wifi-price label {
    transition: 0.5s;
}
.book-now .partner-form span#removeBtn {
    background: #3b5999;
    border: 0;
    font-size: 21px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.book-now .partner-form .inner-fom {
    margin-bottom: 18px;
    border-bottom: 3px solid #dee5f8;
}
.pay-ment button#proceedPayment {
    background: #3b5999;
    border: 0;
    position: static !important;
    margin: 0 !important;
}
.payment-bills .total-price {
    max-height: 460px;
    position: static !important;
    overflow-y: auto;
}
body.fixed .payment-bills.pay{
    position: fixed;
    top: 30px;
    width: 100%;
    max-width: 345px;
    z-index: 9;
}
.recen-post a {
    color: #3b5999;
    text-decoration: none;
}
.blog-content-inner a {
    background: #3b5999;
    border: 0;
}
section.about-section.block-element p {
    margin: 0;
}
section.blog-page-main.block-element .container {
    max-width: 1170px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.hidden{
    display: none;
}
.partner-form .error{
    color: red;
    font-size: 14px;
}
.blog-clouds a{
    color: #3b5999;
}
/*--new-plan-page--*/
.plan-customer .plan-blog.plan-one {
    background-image: url(../images/nw-1.jpg);
}
.plan-customer .plan-blog.plan-two {
    background-image: url(../images/nw-2.jpg);
}
.plan-customer .plan-blog.plan-three {
    background-image: url(../images/nw-3.jpg);
}
.plan-customer {
    background: #e4e7f6;
    padding: 50px 50px 50px 20px;
    float: left;
    width: 100%;
}
.plan-customer .plan-blog.plan-two {
    background-color: transparent;
}
.basic-block {
    display: flex;
    align-items: center;
}
section.paln-new-page h2 {
    text-align: center;
    margin: 0;
    padding: 24px 0;
    width: 100%;
    float: left;
}
.basic-block .basic-price span {
    color: red;
    font-size: 13px !important;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 9px;
}

.basic-price label {
    position: absolute;
    top: 57%;
    left: 6px;
    z-index: 9;
    font-size: 24px;
    color: #1242a4;
    font-weight: 600;
    transform: translateY(-50%);
    width: 80px;
    text-align: center;
}
.paln-new-page .plan-blog img {
    margin: 0;
    width: auto;
    margin: 28px 0 0;
    margin-left: 0px;
    max-width: 111px;
    position: relative;
    left: 0;
}
.basic-price {
    position: relative;
}
.plan-customer .plan-blog span {
    width: 100%;
    max-width: 141px;
}
.plan-customer-map img {
    width: 100%;
}
.plan-customer .row {
    align-items: center;
}
.plan-customer.wi-fi-new-plans .col-sm-4 {
    background-image: url(../images/wi-1.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 40px 20px 40px;
    min-height: 460px;
    width: auto;
    margin: 0 auto;
    background-position: center;
    display: flex;
    background-size: 90% 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.plan-customer.wi-fi-new-plans .col-sm-4:nth-child(2) {
      background-image: url(../images/wi-2.jpg);
}
.plan-customer.wi-fi-new-plans .col-sm-4:nth-child(3) {
      background-image: url(../images/wi-3.jpg);
}
.plan-customer.wi-fi-new-plans .wifi-inner-blog::after {
   display:none;
}
.plan-customer.wi-fi-new-plans .wifi-inner-blog::before {
    display:none;
}
.wifi-price img {
    max-width: 148px;
}
section.paln-new-page .col-sm-6:first-child {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
section.paln-new-page .col-sm-6:last-child {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
section.refer-step.block-element {
    background-image: url(https://demo.codexade.com/images/erm-bk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 65px solid #fff;
}
section.refer-step.block-element img {
    position: relative;
    left: -40px;
    top: 55px;
    transform: scale(1.3);
}
.plan-blog.plan-one a, .wifi-inner-blog.one a.bl-btn {    background: rgb(15,109,137);    background: -moz-radial-gradient(center, ellipse cover, rgba(15,109,137,1) 2%, rgba(24,141,172,1) 50%, rgba(22,148,182,1) 100%);    background: -webkit-radial-gradient(center, ellipse cover, rgba(15,109,137,1) 2%,rgba(24,141,172,1) 50%,rgba(22,148,182,1) 100%);    background: radial-gradient(ellipse at center, rgba(15,109,137,1) 2%,rgba(24,141,172,1) 50%,rgba(22,148,182,1) 100%);    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6d89', endColorstr='#1694b6',GradientType=1 );    border-color: rgb(15,109,137);}.plan-blog.plan-two a, .wifi-inner-blog.two a.bl-btn {background: rgb(147,121,48); background: -moz-radial-gradient(center, ellipse cover,  rgba(147,121,48,1) 2%, rgba(170,163,111,1) 50%, rgba(167,174,133,1) 100%); /* FF3.6-15 */background: -webkit-radial-gradient(center, ellipse cover,  rgba(147,121,48,1) 2%,rgba(170,163,111,1) 50%,rgba(167,174,133,1) 100%); /* Chrome10-25,Safari5.1-6 */background: radial-gradient(ellipse at center,  rgba(147,121,48,1) 2%,rgba(170,163,111,1) 50%,rgba(167,174,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937930', endColorstr='#a7ae85',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ border-color: rgb(147,121,48); }.plan-blog.plan-three a, .wifi-inner-blog.three a.bl-btn {    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c6b5a+0,528c81+50,6e9e8f+100 */background: rgb(44,107,90);background: -moz-radial-gradient(center, ellipse cover,  rgba(44,107,90,1) 0%, rgba(82,140,129,1) 50%, rgba(110,158,143,1) 100%); /* FF3.6-15 */background: -webkit-radial-gradient(center, ellipse cover,  rgba(44,107,90,1) 0%,rgba(82,140,129,1) 50%,rgba(110,158,143,1) 100%); /* Chrome10-25,Safari5.1-6 */background: radial-gradient(ellipse at center,  rgba(44,107,90,1) 0%,rgba(82,140,129,1) 50%,rgba(110,158,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c6b5a', endColorstr='#6e9e8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    border-color: rgb(44,107,90);}.wifi-inner-blog.two .wifi-img label {    color: #957a33;}.wifi-inner-blog.three .wifi-img label {    color: #2b6b5b;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.wi-fi-new-plans{
	margin-bottom: 65px;
}